header {
    text-align: center;
    background-image: url(555.png);
    background-size: cover;
    padding: 100px;
    height: 800px;
    margin: -8px;
}

header h1 {
    font-size: 50px;
    margin-top: 200px;
}

.start {
    background-size: cover;
    height: 55px;
    background-color:rgb(0, 0, 0);
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    text-align: center;
}

.start li {
    display: inline;
    padding-right: 100px;
    font-size: 30px;
}

.Introduction h1 {
    text-align: right;
    padding-top: 30px;
    font-size: 50px;
    padding-right: 225px;
}

.Introduction p {
    float: right;
    font-size: 20px;
    padding-right: 100px;
    width: 400px;
}

.TeamMembers {
    background-size: cover;
    padding: 100px;
    height: 400px;
    margin: -8px;
    background-color: black;
    margin-top: 5px;
}
.TeamMembers h1 {
    text-align: left;
    padding-top: 10px;
    font-size: 50px;
    padding-left: 100px;
}

.TeamMembers p {
    float: left;
    font-size: 20px;
    padding-left: 10px;
    width: 400px;
}

.TeamMembers img {
    float: right;
    padding-right: -100px;
    padding-top: -50px;
}

.WebsiteInformation h1 {
    text-align: right;
    padding-top: 30px;
    font-size: 50px;
    padding-right: 150px;
}

.WebsiteInformation p {
    float: right;
    font-size: 20px;
    padding-right: 100px;
    width: 400px;
}

.HourOfCode {
    background-size: cover;
    padding: 100px;
    height: 400px;
    margin: -8px;
    background-color: black;
    margin-top: 5px;
}

.HourOfCode h1 {
    text-align: left;
    padding-top: 10px;
    font-size: 50px;
    padding-left: 100px;
}

.HourOfCode p {
    float: left;
    font-size: 20px;
    padding-left: 10px;
    width: 400px;
}

.HourOfCode img {
    float: right;
}